/* Design Elements: with hover effects for navigation links. */
/* colors: #2c23ac blue #ff4646 red #fff8d5 white */

.ccw{
    font-size: small;
}

h3 {
    
}

img {
    width: 30%;
}

body {
    background-color: #fff8d5
}

h1, h2 {
    color: #aa0909;
}

.main-nav, .header {
    position: sticky;
    top: 0px;
    padding: 10px 0px;
    width: 100%;
}

.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #fff8d5;
    font-size: 1.3em;
    font-family: "Barrio", system-ui;
}

.main-nav li{
    list-style: none;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #2c23ac;
    background-color: #2c23ac;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    z-index: 100;
}

.one{
    background-color: #2c23ac;
    p {
        color: #ff4646;
    }
}

.two {
    background-color: #c60000;
    p {
        color: #a9a5ff;
    }
}



#bs {
    /*hover code here plssssss*/
}








@media screen and (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }
    .header {
        flex-direction: column;
        align-items: center;
        .header {
            width: 80%;
            margin: 0 auto;
            max-width: 1150px;
        }
    }

@media screen and (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}
@media screen and (min-width: 1850px) {
    .header {
        flex-direction: row;
        justify-content: space-between; 
    }
}

}